{
  "openapi": "3.0.1",
  "info": {
    "title": "DonneesPubliquesObservation",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://public-api.meteofrance.fr/public/DPObs/v1"
    },
    {
      "url": "http://public-api.meteofrance.fr:8280/public/DPObs/v1"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "tags": [
    {
      "name": "ProduitsObs",
      "description": "Services de téléchargement des données d'observation à la date demandée."
    }
  ],
  "paths": {
    "/station/infrahoraire-6m": {
      "get": {
        "tags": [
          "ProduitsObs"
        ],
        "summary": "Télécharger le fichier TEXTE (CSV ou JSON ou GEOJSON) des données d'observation pour tous les paramètres disponibles, à la fréquence 6 minutes, pour une station, à la date la plus proche de la date demandée.",
        "description": "Renvoie tous les paramètres disponibles pour la station demandée et pour  :\n- la date/heure la plus proche de la date demandée selon les données disponibles.",
        "parameters": [
          {
            "name": "id_station",
            "in": "query",
            "description": "Identifiant de la station (nomenclature : 8 chiffres selon DDCCCNNN = insee de la commune (DD département, CCC n° de la commune dans le département et NNN n° de la station dans la commune)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date demandée (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:mm:ssZ).\n\nPar défaut = date courante",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données (JSON ou CSV ou GEOJSON)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "geojson"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Si une liste vide est renvoyée : station absente ou inexistante\n \nSinon : OK"
          },
          "400": {
            "description": "Contrôle de paramètres en erreur"
          },
          "404": {
            "description": "Jeu de données inexistant"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/station/horaire": {
      "get": {
        "tags": [
          "ProduitsObs"
        ],
        "summary": "Télécharger le fichier TEXTE (CSV ou JSON ou GEOJSON) des données d’observation pour tous les paramètres disponibles, à la fréquence horaire, pour une station, à la date la plus proche de la date demandée.",
        "description": "Renvoie tous les paramètres disponibles pour la station demandée et pour  :\n- la date/heure la plus proche de la date demandée selon les données disponibles.",
        "parameters": [
          {
            "name": "id_station",
            "in": "query",
            "description": "Identifiant de la station (nomenclature : 8 chiffres selon DDCCCNNN = insee de la commune (DD département, CCC n° de la commune dans le département et NNN n° de la station dans la commune)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date demandée (au format ISO 8601 avec TZ UTC : AAAA-MM-JJThh:mm:ssZ).\n\nPar défaut = date courante",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format de retour des données (JSON ou CSV ou GEOJSON)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "geojson"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Si une liste vide est renvoyée : station absente ou inexistante\n \nSinon : OK"
          },
          "400": {
            "description": "Contrôle de paramètres en erreur"
          },
          "404": {
            "description": "Jeu de données inexistant"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/liste-stations": {
      "get": {
        "tags": [
          "ProduitsObs"
        ],
        "summary": "Télécharger le fichier TEXTE (CSV) de la liste des stations d'observation.",
        "description": "Renvoie la liste des stations.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "La liste est indisponible"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://public-api.meteofrance.fr/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}