:root {
    --colorMain: #f1f1f1;
    --brShadow: 5px 5px 10px #D1D9E6;
    --tlShadow: 5px -5px 10px #fff;
}

body {
    margin: 0;
    padding: 0;
    background: #ecf0f3;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}
.box input[type="checkbox"] {
    width: 175px;
    height: 70px;
    -webkit-appearance: none;
    border-radius: 50px;
    border: 10px solid #ecf0f3;
    cursor: pointer;
    outline: none;
    position: relative;
    box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #fff,
                inset 5px 5px 10px #D1D9E6, inset -5px -5px 10px #fff;
}
.box input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    margin: auto;
    transition: all .3s;
    width: 85px;
    height: 40px;
    border-radius: 50px;
    background: #da2b2b;
    box-shadow: inset 5px 5px 7.5px #b92525, inset -5px -5px 7.5px #fb3131;
}
.box input[type="checkbox"]:checked:before {
    left: 62px;
    background: #59e86a;
    box-shadow: inset 5px 5px 7.5px #4cc55a, inset -5px -5px 7.5px #66ff7a;
}
.gradient-text {
    color: #3a3b3b;
    font-size: 4em;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: -13%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: -14%;
}
.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
    margin: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #3a3b3b;
    font-size: 5em;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #fff;
}

.flex-title {
    display: flex;
    justify-content: space-between;
    width: 70%; /* Définit une largeur qui permet de centrer les éléments autour de 25% et 75% */
    margin: 0 auto; /* Centre le conteneur */
    position: relative;
    margin-top: 2%;
}

.title2 {
    color: #3a3b3b;
    border-radius: 20px;
    padding: 2%;
    margin-top: 5%;
    font-size: 4em;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #fff;
    text-align: center; /* Centre le texte */
}

button {
    padding: 1.5em 5em;
    background: #ecf0f3;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }
  button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }

  .flexing {
    padding-left: 5%;
    padding-right: 5%;
  }